<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre completo: {{this.first_name}}</p>
<p>Correo electronico: {{this.email}}</p>
<p>Edad: {{this.age}}</p>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>
<script src="/js/current.js"></script>